body.index {
    background-image: url("matrix-code.gif");
    background-repeat: repeat;
    background-attachment: scroll;
}

a.index {
    color: #FFFFFF;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

div.index {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

body.home {
    background-image: url("home_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

p.home {
    color: #FFFFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}