.centered {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

body.bg {
	margin: 0;
    background-color: #202020;
}

#sug {
    color: #FFFFFF;
    text-align: left;
    margin-left: 70px;
    font-family: "Arial", sans-serif;
    font-size: 40px;
}

.index_link {
    color: #FFFFFF;
    text-align: left;
    margin-left: 70px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}

.footer_link {
    color: #FFFFFF;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 17px;
}

.bg-img {
    background-image: url("/files/index_bg.jpg");
    background-size: cover;
	background-position: center;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#index_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-border {
	border: thick solid white;
}

.text1 {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.fullscreen {
	width: 100vw !important;
	height: 100vh !important;
}

#home {
	padding-bottom: 30px;
	transition: color 0.75s ease;
}

#index_text {
	transition: opacity 0.5s;
}

@font-face {
	font-family: 'neomatrix';
	src: url('/NeomatrixCode.ttf') format('truetype');
}

.horiz-cent {
	display: flex;
	justify-content: center;
}

#content {
	padding-top: 40px;
	opacity: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	align-items: flex-start;
	transition: opacity	1s;
	width: 600px;
	overflow-y: scroll;
}

#content * {
	font-family: 'neomatrix';
	color: white;
}

.neo {
	font-family: 'neomatrix';
}

h1 {
	font-size: 50px;
}

#terminal {
    margin: 0;
    padding: 0;
    width: 100%;
	height: 20vh;
    background-color: #000;
    border-radius: 9px;
	display: flex;
    flex-direction: column;
}

#terminal * {
	text-align: left;
    font-family: monospace;
}

#output {
	white-space: pre;
	padding: 10px;
	flex-grow: 1;
    overflow-y: auto;
}

#input-container {
	margin-top: 5px;
    display: flex;
    align-items: center;
	position: relative;
}

#input {
    background-color: #000;
    color: #00ff00;
    border: none;
    outline: none;
    flex-grow: 1;
	position: relative;
	z-index: 1;
}

#links {
	margin-bottom: 15px;
}
