body.index {
    background-image: url("/files/index_bg.jpg");
    background-repeat: repeat;
    background-attachment: scroll;
}

a.index {
    background-color: #202020;
    color: #FFFFFF;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}

div.index {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 600px;
}

body.home {
    background-image: url("/files/home_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

p.home {
    color: #FFFFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}