<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santiago Uribe Guiza</title>
    <link rel="stylesheet" href={{"/assets/css/styles.css" | prepend: site.baseurl}}>
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'  https://code.jquery.com 'sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo='">
</head>

<body>
{{ content }}
{% include footer.html %}
</body>
</html>
